<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="about-me" href="/tabs/about-me">
      <ion-img src="./../../assets/ui-icons/about_me_person.svg" aria-hidden="true" name="triangle"></ion-img>
      <ion-label>About Me</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="career" href="/tabs/career">
      <ion-img src="./../../assets/ui-icons/career_stonks.svg" aria-hidden="true" name="ellipse"></ion-img>
      <ion-label>Career</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="skills" href="/tabs/skills">
      <ion-img src="./../../assets/ui-icons/skills_bulb.svg" aria-hidden="true" name="square"></ion-img>
      <ion-label>Skills</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="portfolio" href="/tabs/portfolio">
      <ion-img src="./../../assets/ui-icons/portfolio_folder.svg" aria-hidden="true" name="square"></ion-img>
      <ion-label>Portfolio</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
